* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #4d4e53;
}

body.open {
    overflow: hidden;
}

nav {
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    border-right: 4px solid gray;
}

#nav-toggle {
    display: none;
    height: 80px;
    width: 20px;
    transform: scaleX(-1);
    position: absolute;
    top: 50%;
    position: fixed;
    color: #fff;
    background-color: #333;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#navbar.open {
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    width: calc(100% - 20px);
}

#nav-toggle.open {
    right: 0px;
    transform: scaleX(1);
    border-radius: 0px 8px 8px 0px;
}

nav > header {
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    padding: 12px;
    font-size: 16px;
    border-bottom: 1px solid gray;
}

.nav-list li:last-of-type {
    border-bottom: none;
}

.nav-list a {
    text-decoration: none;
    color: #4d4e53;
}

.nav-header {
    font-weight: 500;
}

main {
    width: 80%;
    margin-left: 20%;
    padding: 30px 30px;
}

.main-section {
    margin-bottom: 15px;
}

.main-section:last-of-type {
    margin-bottom: 0;
}

.main-section header h2 {
    color: black;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
}

.main-section p {
    line-height: 1.3;
    letter-spacing: .3px;
    margin-bottom: 10px;
    padding-left: 12px;
}

.main-section ul {
    padding-left: 45px;
    line-height: 1.3;
    letter-spacing: 0.3px;
}

.main-section ul li {
    margin-bottom: 10px;
}

.main-section ul li:last-of-type {
    margin-bottom: 0;
}

.main-section code {
    background-color: #f7f7f7;
    padding: 15px 10px;
    width: calc(100% - 30px);
    display: block;
    margin-left: 30px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 10px;
}

/* ADAPTIVE */

@media (max-width: 992px) {
    #navbar {
        display: none;
        z-index: 999;
    }

    main {
        width: 100%;
        margin-left: 0;
    }

    #nav-toggle {
        display: block;
    }
}